* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 5px;
}

#logga {
    border: 2px solid black;
}

#kundvagn {
    border: 2px solid black;
}

#katcontainer {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.kategori {
    border: 2px solid black;
}

.produkt-kort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 20px;
    align-items: center;
}



.gallery-container {
    height: 100vh;
    display: grid;
    gap: 15px; 
    padding: 15px;

   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: 
    "header header header"
    "t-left center1 t-right"
    "b-left center2 b-right"
    ;
}


#kort1 { grid-area: header; } 
#kort2 { grid-area: t-left; }
#kort3 { grid-area: center1; }
#kort4 { grid-area: t-right; }
#kort5 { grid-area: b-left; }
#kort6 { grid-area: center2; }
#kort7 { grid-area: b-right; }


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    border: 2px solid black;
}

